html, body {
  height: 100%;
  font-family: Inter;
}

body {
  font-family: Inter;
  background-color: #1c1c1c;
  color: #ffffff;
  display: grid;
  place-items: center;
}

.App {
  max-width: 1180px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  row-gap: 20px;
}